<div class="jumbotron">
  <h1 class="text-center">
    <span class="badge badge-pill badge-default">To Do</span>
    <span class="badge badge-pill badge-info">List </span>
     <span class="badge badge-pill badge-primary">App</span>
  </h1>
</div>

<div class="input-group">
  <input type="text" id="inputAdd" class="form-control" #itemTitle (keyup.enter)="onAdd(itemTitle)">
  <label for="inputAdd" class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
    <i class="fa fa-plus-circle fa-2x"></i>
  </label>
</div>

<div class="col-md-12 card item-todo">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of toDoListArray">
      <span class="hover-cursor" [class.text-success]='item.isChecked' (click)="alterCheck(item.$key, item.isChecked)">
          <i class="fa fa-lg" [ngClass]="item.isChecked ? 'fa-check-circle-o' : 'fa-circle-thin'"></i>
      </span>
      <strong class="item-todo__name">{{item.title}}</strong>
      <span class="hover-cursor text-danger item-todo__exclud" (click)="onDelete(item.$key)">
        <i class="fa fa-trash-o fa-lg pull-right"></i>
      </span>
    </li>
  </ul>
</div>